
.navBar{
    background-color: rgb(237, 224, 173);
    border-radius: 3px;
    border: solid 2px black;
    box-shadow: #000000 3px;
    padding-bottom: 15px;
    display: flex;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.Button {
    background-color: #969078;
    color:rgb(237, 224, 173);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 14px 28px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(57, 54, 42);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.Button:hover {
    box-shadow: inset 0 100px 0 0 #030000;
}
.carrito {
    background-color: #969078;
    color:rgb(237, 224, 173);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: auto;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(57, 54, 42);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.carrito:hover {
    box-shadow: inset 0 100px 0 0 #030000;
}